/* App Styles */

html {
  width: 100%;
}

body {
  width: 1000px;
  margin: 20px auto;
}

header {
  height: 200px;
}

body h1 {
  text-align: center;
  font-family: Homemade Apple;
  font-weight: bold;
  font-size: 80px;
}

body h2 {
  text-align: center;
  font-family: Amatic SC;
  font-size: 60px;
}

ul {
  margin-bottom: 50px;
}
ul li {
  display: inline-block;
  width: 330px;
  text-align:center;
}

.spot {
  padding: 20px;
  height: 150px;
}

footer {
  clear: both;
  padding: 100px;
}

p {
  text-align: center;
}
