/* App Styles */

html {
  width: 100%;
}

body {
  width: 1000px;
  margin: 20px auto;
}

header {
  height: 200px;
  width: 1000px;
}

/* Chart Link */
#my_chart {
  display: block;
  padding: 50px;
  margin: auto;
  transition: 350ms;
  width: 60px;
}

#my_chart:hover {
  width: 100px;
}

body h1 {
  clear:both;
  text-align: center;
  font-family: Homemade Apple;
  font-weight: bold;
  font-size: 80px;
}

body h2 {
  text-align: center;
  font-family: Amatic SC;
  font-size: 60px;
}

ul li {
  display: inline-block;
  width: 330px;
  text-align:center;
}

.spot {
  padding: 20px;
  height: 150px;
}

footer {
  clear: both;
  margin-bottom: 100px;
}

p {
  text-align: center;
  margin-top: 20px;
}
