/* App Styles */

html {
  width: 100%;
}

body {
  width: 960px;
  margin: 30px auto;
}

header {
  height: 200px;
}

body h1 {
  text-align: center;
  font-family: Homemade Apple;
  font-weight: bold;
  font-size: 80px;
}

body h2 {
  text-align: center;
  font-family: Amatic SC;
  font-size: 60px;
}

.spot {
  display:inline-block;
  float: left;
  padding: 20px;
  height: 200px;
}
